<mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="author">
         <mat-header-cell *matHeaderCellDef> 通訊作者 </mat-header-cell>
        <mat-cell *matCellDef="let submission"> {{submission.author_cht}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef> 投稿題目 </mat-header-cell>
        <mat-cell *matCellDef="let submission"> {{submission.title_cht}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="affiliation">
         <mat-header-cell *matHeaderCellDef> 服務單位 </mat-header-cell>
        <mat-cell *matCellDef="let submission"> {{submission.affiliation_cht}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="download">
        <mat-header-cell *matHeaderCellDef> 下載 </mat-header-cell>
        <mat-cell *matCellDef="let submission"> <a href="/api/download/submission/{{ submission.id }}">{{submission.name}}</a></mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> 詳細資料 </mat-header-cell>
        <mat-cell *matCellDef="let submission"> <button mat-raised-button color="primary" (click)="openSubmittedDialog(submission)">詳細資料</button> </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>